# GEMINI AI API KEY
GEMINI_API_KEY=your_gemini_api_key_here
VITE_GEMINI_API_KEY=your_gemini_api_key_here

# APP URL
APP_URL=http://localhost:3000

# ANILIST GRAPHQL API (Keyless Open API)
VITE_ANILIST_API_URL=https://graphql.anilist.co

# ANIME & MANGA JIKAN API (Keyless Open API)
VITE_ANIME_NEWS_API_URL=https://api.jikan.moe/v4

# EXTERNAL DATA API KEYS
VITE_RAWG_API_KEY=your_rawg_api_key
VITE_COMIC_VINE_API_KEY=your_comic_vine_api_key
VITE_TMDB_API_KEY=your_tmdb_api_key

# MONGODB CONNECTION URI
MONGODB_URI=mongodb://127.0.0.1:27017/fanhub

# EMAIL OTP VERIFICATION (Optional)
RESEND_API_KEY=
SMTP_USER=
SMTP_PASS=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
